.womenButton{
box-sizing: border-box;

position: absolute;
width: 244px;
height: 86px;
left: 100px;
top: 850px;

background: rgba(255, 255, 255, 0.56);
border: 1px solid #000000;
border-radius: 35px; 
cursor: pointer;
}

.manButton{
position: absolute;
width: 244px;
height: 89px;
left: 500px;
top: 850px;

background: rgba(255, 255, 255, 0.56);
border: 1px solid #000000;
border-radius: 35px; 
cursor: pointer;
}

.kidsButton{
box-sizing: border-box;

position: absolute;
width: 244px;
height: 86px;
left: 900px;
top: 850px;

background: rgba(255, 255, 255, 0.56);
border: 1px solid #000000;
border-radius: 35px;
cursor: pointer;
}

.sportButton{
    box-sizing: border-box;

    position: absolute;
    width: 244px;
    height: 86px;
    left: 1275px;
    top: 850px;
    
    background: rgba(255, 255, 255, 0.56);
    border: 1px solid #000000;
    border-radius: 35px;
    cursor: pointer;
}

.saleButton{
    box-sizing: border-box;

    position: absolute;
    width: 244px;
    height: 86px;
    left: 1565px;
    top: 870px;
    
    background: rgba(255, 255, 255, 0.56);
    border: 1px solid #000000;
    border-radius: 35px;
    cursor: pointer;
}

.ArrowRight img{
    position: absolute;
    width: 100px;
    height: 80px;
    left: 1810px;
    top: 875px;
}

.MainPageWomen img{
    position: absolute;
    width: 400px;
    height: 637px;
    left: 25px;
    top: 150px;
    outline-style:inset   
}

.MainPageMan img{
position: absolute;
width: 350px;
height: 637px;
left: 500px;
top: 150px;
outline-style: inset;
}

.MainPageKids img{
    position: absolute;
    width: 300px;
    height: 637px;
    left: 900px;
    top: 150px;
    outline-style: inset;
}

.MainPageSport img{
    position: absolute;
    width: 311px;
    height: 637px;
    left: 1240px;
    top: 150px;
    outline-style: inset;
}

.mainPageText{
    font-size: xx-large;
}