.manDescription img {
    max-width: 100%;
    outline-style: auto;
    cursor: pointer;
}

 .manItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-between;
 }

 .manTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
  }
  .manItem {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }

  .backButtonMan{
    width: 200px;
    height: 100px;
    border-radius: 35px;
    border: 1px solid #000;
    background: rgba(255, 255, 255, 0.56);
    cursor: pointer;
}
